.header-image {
	width: 100%;
	height: 600px;
	margin: 0;
}

.custom-nav {
	background-color: #283e4a;
}

.nav-links {
	color: white !important;
}

html, body {
	margin: 0;
	padding: 0;
}

#footer {
	background-color: #283e4a;
	height: 75px;
}

#header-container {
	margin: 0;
	width: 100%;
	padding: 0;
}

@media (min-width: 769px) {
	.wrapper {
		min-height: calc(100vh - 50px);
	}
}